@page "/pages/authentication/login"
@layout LoginLayout
@inject Providers.TokenAuthenticationStateProvider TokenAuthenticationStateProvider
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations
@using NcpAdminBlazor.Client.Client.Layout
@using NcpAdminBlazor.Client.Client.Models

<br /><br /><br />
@if (_showErrorAlert)
{
    <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(true))" >Invalid username or password!</MudAlert>
}

<MudForm @ref="_form" @bind-IsValid="@_success" @bind-Errors="@_errors">
    <MudText Typo="Typo.h4" GutterBottom="true" Class="mt-4">Sign In</MudText>

    <MudText>Don't have an account? <MudLink Href="/pages/authentication/register">Sign Up</MudLink></MudText>

    <MudTextField T="string" @bind-Value="@Email" Required="true" Label="E-mail " Variant="Variant.Outlined" Class="my-6"></MudTextField>

    <MudTextField @bind-Value="@Password" Label="Password " Required="true" Variant="Variant.Outlined" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />

    <div Class="d-flex justify-space-between align-center">
        <MudCheckBox T="bool" Label="Remember me?" @bind-Checked="RememberMe" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>
        <MudSpacer />
        <br />
        <br />
        <MudLink Href="/pages/authentication/forgot-password">Forgot pwd?</MudLink>
    </div>


    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_success && !_isBusy)" Size="Size.Large" FullWidth="true" OnClick="() => HandleSubmit()">Sign In</MudButton>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="_isGuest"  Size="Size.Large" FullWidth="true" OnClick="() => HandleGuest()" Class="mt-4">Sign In As Guest</MudButton>

</MudForm>


@code {
    private bool _showCallAlert;
    private bool _showErrorAlert;

    private bool _isGuest;
    string Password { get; set; } = string.Empty;
    string Email { get; set; } = string.Empty;
    bool RememberMe { get; set; }

    bool _isBusy;

    LoginModel _model = new LoginModel();
    bool _success;

    string[] _errors = [];
    MudTextField<string> _pwField1 = new();
    MudForm _form = new();

    public class RegisterAccountForm
    {
        [Required]
        [StringLength(8, ErrorMessage = "Name length can't be more than 8.")]
        public string Username { get; set; } = string.Empty;

        [Required] [EmailAddress] public string Email { get; set; } = string.Empty;

        [Required]
        [StringLength(30, ErrorMessage = "Password must be at least 8 characters long.", MinimumLength = 8)]
        public string Password { get; set; } = string.Empty;

        [Required] [Compare(nameof(Password))] public string Password2 { get; set; } = string.Empty;

    }

    private async Task HandleGuest()
    {

        _isBusy = false;
        _success = false;

        _isGuest = true;
        _model = new LoginModel
        {
            Email = "cisse@yahoo.com",
            Password = "Test@123",
            RememberMe = true
        };

        var response = await HttpClient.PostAsJsonAsync("api/account/login", _model);
        var loginResult = await response.Content.ReadFromJsonAsync<LoginResult>();
        if (loginResult is { Successful: true })
        {
            await TokenAuthenticationStateProvider.Login(loginResult.Token);
            NavigationManager.NavigateTo("/personal/dashboard");
        }
        else
        {
            _showErrorAlert = true;
            Console.WriteLine("Invalid username or password");
        }

    }

    private async Task HandleSubmit()
    {
        _isBusy = false;
        _success = false;
        _model = new LoginModel
        {
            Email = Email,
            Password = Password,
            RememberMe = RememberMe
        };


        var response = await HttpClient.PostAsJsonAsync("api/account/login", _model);
        var loginResult = await response.Content.ReadFromJsonAsync<LoginResult>();
        if (loginResult is { Successful: true })
        {
            await TokenAuthenticationStateProvider.Login(loginResult.Token);
            NavigationManager.NavigateTo("/personal/dashboard");
        }
        else
        {
            _showErrorAlert = true;
            Console.WriteLine("Invalid username or password");
        }

    }

    private async Task OnValidSubmit(EditContext context)
    {
        //success = true;
        //StateHasChanged();
        
        var response = await HttpClient.PostAsJsonAsync("api/account/login", _model);
        var loginResult = await response.Content.ReadFromJsonAsync<LoginResult>();
        if (loginResult is { Successful: true })
        {
            await TokenAuthenticationStateProvider.Login(loginResult.Token);
            NavigationManager.NavigateTo("/personal/dashboard");
        }
        else
        {
            _showErrorAlert = true;
        }

    }

    bool _passwordVisibility;
    InputType _passwordInput = InputType.Password;
    string _passwordInputIcon = Icons.Material.Filled.VisibilityOff;

    void TogglePasswordVisibility()
    {
        @if (_passwordVisibility)
        {
            _passwordVisibility = false;
            _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
            _passwordInput = InputType.Password;
        }
        else
        {
            _passwordVisibility = true;
            _passwordInputIcon = Icons.Material.Filled.Visibility;
            _passwordInput = InputType.Text;
        }
    }

    private void CloseMe(bool value)
    {
        if (value)
        {
            _showErrorAlert = false;
        }
        else
        {
            _showCallAlert = false;
        }
    }

}

@*<MudText Typo="Typo.h4" GutterBottom="true">Sign In</MudText>

    <MudText>Don't have an account? <MudLink Href="/pages/authentication/register">Sign Up</MudLink></MudText>

    <MudTextField T="string" Value="@("staff@mudblazor.com")" Label="E-mail" Variant="Variant.Outlined" Class="my-6"></MudTextField>

    <MudTextField @bind-Value="@Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />

    <div Class="d-flex justify-space-between align-center">
        <MudCheckBox T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>
        <MudLink Href="/pages/authentication/forgot-password">Forgot pwd?</MudLink>
    </div>


    <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/personal/dashboard" Size="Size.Large" FullWidth="true">Sign In</MudButton>

    @code {
        string Password { get; set; } = "BMWvBPJXZu";

        bool PasswordVisibility;
        InputType PasswordInput = InputType.Password;
        string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

        void TogglePasswordVisibility()
        {
            @if (PasswordVisibility)
            {
                PasswordVisibility = false;
                PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
                PasswordInput = InputType.Password;
            }
            else
            {
                PasswordVisibility = true;
                PasswordInputIcon = Icons.Material.Filled.Visibility;
                PasswordInput = InputType.Text;
            }
        }
    }*@
