@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using NcpAdminBlazor.Client.Client.Layout
@using NcpAdminBlazor.Client.Client.Models
@page "/pages/authentication/register"
@layout LoginLayout
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


<br />
<br />
<br />
@if (_showErrorAlert)
{
    <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(true))">

        @foreach (var item in _apiErrors)
        {
            <span>@item</span>
        }
    </MudAlert>
}


<MudForm @ref="_form" @bind-IsValid="@_success" @bind-Errors="@_errors">

    <MudText Typo="Typo.h4" GutterBottom="true">Sign Up</MudText>
    <MudText>Already have an account? <MudLink Href="/pages/authentication/login">Sign In</MudLink></MudText>

    <MudTextField T="string" @bind-Value="_model.Name" Required="true" RequiredError="First name is required!" Label="First Name " Variant=" Variant.Outlined" Class="mt-4"></MudTextField>
    <MudTextField T="string" @bind-Value="_model.Phone" Required="true" RequiredError="Last name is required!" Label="Last Name " Variant=" Variant.Outlined" Class="mt-4"></MudTextField>

    <MudTextField T="string" @bind-Value="Email" Required="true" RequiredError="Email is required!" Label="E-mail " Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" Variant=" Variant.Outlined" Class="mt-4" Fo></MudTextField>

    <MudTextField T="string" Label="Password " @bind-Value="Password" Variant="Variant.Outlined" @ref="_pwField1"
                  InputType="InputType.Password"
                  Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                  RequiredError="Password is required!" Class="mt-4" />
    <MudTextField T="string"
                  Label="Enter password again " @bind-Value="ConfirmPassword" Variant="Variant.Outlined" InputType="InputType.Password"
                  Validation="@(new Func<string, string>(PasswordMatch))" Class="mt-4" />


    @*<MudCheckBox T="bool" @bind-Checked="@AgreeToTerms" Label="I agree to the terms and privacy" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>*@

    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_success && !_isBusy)" OnClick="() => HandleSubmit()" Size="Size.Large" FullWidth="true" Class="mt-4">Register</MudButton>
</MudForm>

@code {


    string FirstName { get; set; } = string.Empty;
    string LastName { get; set; } = string.Empty;
    string JobTitle { get; set; } = string.Empty;
    bool _success;
    bool _isBusy;
    string Password { get; set; } = string.Empty;
    string Email { get; set; } = string.Empty;
    string ConfirmPassword { get; set; } = string.Empty;
    public bool AgreeToTerms { get; set; }

    private bool _showCallAlert;
    private bool _showErrorAlert;

    private RegisterModel _model = new RegisterModel();

    string[] _errors = [];
    MudForm _form = new();

    bool _passwordVisibility;
    InputType _passwordInput = InputType.Password;
    string _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
    MudTextField<string> _pwField1 = new();

    List<string> _apiErrors = [];

    void TogglePasswordVisibility()
    {
        @if (_passwordVisibility)
        {
            _passwordVisibility = false;
            _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
            _passwordInput = InputType.Password;
        }
        else
        {
            _passwordVisibility = true;
            _passwordInputIcon = Icons.Material.Filled.Visibility;
            _passwordInput = InputType.Text;
        }
    }

    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Password is required!";
            yield break;
        }
        if (pw.Length < 8)
            yield return "Password must be at least of length 8";
        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "Password must contain at least one capital letter";
        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "Password must contain at least one lowercase letter";
        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "Password must contain at least one digit";
    }

    private string? PasswordMatch(string arg)
    {
        if (_pwField1.Value != arg)
            return "Passwords don't match";
        return null;
    }

    async Task HandleSubmit()
    {
        _isBusy = false;
        _success = false;

        _model = new RegisterModel
        {
            Email = Email,
            Password = Password,
            ConfirmPassword = ConfirmPassword


        };

        var response = await HttpClient.PostAsJsonAsync("api/account/register/", _model);

        var registerResult = await response.Content.ReadFromJsonAsync<RegisterResult>();


        if (registerResult is { Successful: true })
        {
            NavigationManager.NavigateTo("pages/authentication/login");

        }
        else
        {
            _showErrorAlert = true;
            if (registerResult?.Errors != null)
                foreach (var item in registerResult.Errors)
                {
                    _apiErrors.Add(item);
                }
        }




    }

    private void CloseMe(bool value)
    {
        if (value)
        {
            _showErrorAlert = false;
        }
        else
        {
            _showCallAlert = false;
        }
    }


}

